kumuluzee:
  name: tt-places
  env:
    name: dev
  version: 1.0.0
  server:
    base-url: http://localhost:8082
    http:
      port: 8082
  datasources:
    - jndi-name: jdbc/PlacesDS
      connection-url: jdbc:postgresql://127.0.0.1:5434/place
      username: dbuser
      password: postgres
      max-pool-size: 20
  config:
    etcd:
      hosts: http://localhost:2379

rest-properties:
  external-services:
    menu-service:
      enabled: true